
/* General style */

body {
    display: flex;
    flex-direction: column;;
    flex: auto;
}

/* Header Style */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c8f66;
    font-size: 32px;
    color: white;
    margin: 0;
}

/* Main Content Style */

.main-content {
    background-color: #f9f7f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.main-content.choices {
    display: flex;
    justify-content: space-evenly;
}

.user-interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer Style */

footer {
    display: flex;
    justify-items: center;
    background-color: #7c8f66;
    color: white;
}
