/* Header Style */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c8f66;
    font-size: 32px;
    color: white;
    margin: 0;
}

/* Main Content Style */

.main-content {
    background-color: #f9f7f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.user-interactions {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px
}

.choices button {
    border-radius: 10px;
}

.choices button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.choices img {
    width: 100px;
    height: 100px;
}

.user-interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Scoreboard Style */

table {
    border: 2px;
    border-style: solid;
    font-size: 40px;
    text-align: center;
}

table td {
    border: 2px;
    border-style: solid;
    width: 200px;
}

td img {
    width: 150px;
    height: 150px;
}

/* Footer Style */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c8f66;
    color: white;
}